<%= form_with(model: easy_post, local: true) do |form| %>
  <% if easy_post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(easy_post.errors.count, "error") %> prohibited this easy_post from being saved:</h2>

      <ul>
      <% easy_post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
